@{
    ViewData["Title"] = "Trang chủ";

    //Danh sách slides
    var ListSlides = (List<PhuKien.Data.Slide>)ViewBag.ListSlides;

    //Danh sách danh mục sản phẩm
    var listCategories = (List<PhuKien.Data.Category>)ViewBag.ListCategories;
    //Danh sách sản phẩm hot
    var ListProductHot = (List<PhuKien.Data.Product>)ViewBag.ListProductHot;
    //Danh sách sản phẩm mới
    var ListProductNew = (List<PhuKien.Data.Product>)ViewBag.ListProductNew;

    //Danh sách tin tức
    var ListNews = (List<PhuKien.Data.News>)ViewBag.ListNews;
}

<!-- Hero Section Begin -->
<section class="hero">
    <div class="hero__slider owl-carousel">
        @if (ListSlides.Count() > 0)
        {
            foreach (var item in ListSlides)
            {
                <div class="hero__items set-bg" data-setbg="@item.Logo">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-5 col-lg-7 col-md-8">
                                <div class="hero__text">
                                    <h6>@item.Name</h6>

                                    <div class="hero__social">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-pinterest"></i></a>
                                        <a href="#"><i class="fa fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            }
        }
    </div>
</section>
<!-- Hero Section End -->
<!-- Product Section Begin -->
<section class="product spad" style="margin-top:20px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="filter__controls">
                    <li class="active" data-filter="*">Sản phẩm nổi bật</li>

                </ul>
            </div>
        </div>
        <div class="row product__filter">

            @if (ListProductHot.Count() > 0)
            {
                foreach (var item in ListProductHot)
                {
                    <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
                        <div class="product__item">
                            <a href="/san-pham/@item.Url/@item.Id">
                                <div class="product__item__pic set-bg" data-setbg="@item.Logo">
                                    @if (item.IsNew == true)
                                    {
                                        <span class="label">New</span>
                                    }

                                </div>
                            </a>
                            <div class="product__item__text">
                                <h6>@item.Name</h6>
                                <a data-id="@item.Id" class="add-cart btn-add-cart-2">+ Thêm giỏ hàng</a>
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                                @if (item.PriceDiscount > 0)
                                {
                                    <h6>@item.PriceDiscount  <del>@item.Price</del></h6>
                                }
                                else
                                {
                                    <h6>@item.Price</h6>
                                }
                                
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>

<section class="product spad" style="margin-top:20px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="filter__controls">
                    <li class="active" data-filter="*">Sản phẩm mới</li>

                </ul>
            </div>
        </div>
        <div class="row product__filter">

            @if (ListProductNew.Count() > 0)
            {
                foreach (var item in ListProductNew)
                {
                    <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
                        <div class="product__item">
                            <a href="/san-pham/@item.Url/@item.Id">
                                <div class="product__item__pic set-bg" data-setbg="@item.Logo">
                                    @if (item.IsNew == true)
                                    {
                                        <span class="label">New</span>
                                    }

                                </div>
                            </a>
                            <div class="product__item__text">
                                <h6>@item.Name</h6>
                                <a data-id="@item.Id" class="add-cart btn-add-cart-2">+ Thêm giỏ hàng</a>
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                                @if (item.PriceDiscount > 0)
                                {
                                    <h6>@item.PriceDiscount  <del>@item.Price</del></h6>
                                }
                                else
                                {
                                    <h6>@item.Price</h6>
                                }

                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>
<!-- Product Section End --><!-- Latest Blog Section Begin -->
<section class="latest spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Tin tức</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @if (ListNews.Count() > 0)
            {
                foreach (var item in ListNews)
                {
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="blog__item">
                            <div class="blog__item__pic set-bg" data-setbg="@item.Logo"></div>
                            <div class="blog__item__text">
                                <span><img src="/assets/img/icon/calendar.png" alt="">@item.CreateDate.Value.ToString("dd/MM/yyyy")</span>
                                <h5>@item.Name</h5>
                                <a href="/tin-tuc/@item.Url/@item.Id">Xem thêm</a>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>
